body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.tablero {
    display: grid;
    background-color: transparent;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr, 1fr;
/*     height: 80vh;
    width: 80vw; */
    gap: 10px;
  
}

#fondo-1 {
    background-image: url('./img/Fondo-1.jpg');
    width: 100vw;
    height: 100vh;
}

#fondo-2 {
    background-image: url("./img/Fondo-2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /*     transform: rotate(180deg); */
    right: 100%;
}

.TheGameOfLove {
    background-image: url('./img/Carta-bloqueada.jpg');
    background-repeat: no-repeat;
    height: 45vh;
    width: 15vw;
}

/* .TheGameOfLove:hover {
    transform: rotateX(180);
} */
.buttonStart {
    
}

