body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.tablero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80vw;
    gap: 10px;
    justify-content: center;
}


/* #fondo-1 {
    background-image: url('./img/Fondo-1.jpg');
    width: 100vw;
    height: 100vh;
} */

#fondo-2 {
    background-image: url("./img/Fondo-2.jpg");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /*     transform: rotate(180deg); */
    /* right: 100%; */
}

.TheGameOfLove {
    background-image: url('./img/Carta-bloqueada.jpg');
    background-repeat: no-repeat;
    width: 17vw;
    height: 47vh;
}

/* .TheGameOfLove:hover {
    transform: rotateX(180);
} */

/* .buttonStart {

    border: solid;
    align-items: center;
    border-radius: 100%;
} */


